<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @user.name %>!</h1>
    <p>
      You have successfully signed up for Givr, a website designed so that you're never left scrambling for a last minute present.<br>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>