<%=@calendar.name%>
<ul>
<%@calendar.events.each do |event|%>
  <li><%=link_to event.name, event_path(event)%></li>
<%end%>
</ul>

<%=link_to "Add a New Event", new_event_path%>
<%=link_to "Edit this Calendar", edit_calendar_path(@calendar)%>
